.announcementContainer{
    text-align: center;
    background-color: rgba(42, 167, 255, 1);
    width: 100%;
}
.announcementText{
    color: white;
    padding: .5rem;
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
}

@media only screen and (max-width:550px){
    .announcementContainer{
        display:none;
    }
}